body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #1a1a1a;
}
.container {
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    background-color: #2a2a2a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h2 {
    color: #ffffff;
}
.input-group {
    margin-bottom: 15px;
    text-align: left;
}
label {
    font-weight: bold;
    color: #cccccc;
}
input[type="file"],
input[type="text"],
button {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    background: black;
    color: #cccccc;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
button {
    background-color: darkgreen;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
.result {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #cccccc;
}
.error {
    color: #dc3545;
}